<span id="text-{{ element.id }}">{{ element.text }}</span>
{% if is_granted('ROLE_USER') %}
<a class="edit-link" id="{{ element.id }}" href="{{ path('lfr_admin_text_add', {'id': element.id }) }}" style="font-size: 1rem;"><i class="fa fa-pencil-square-o"></i></a>
{% endif %}
