<form class="form-signin" name="form" method="post" action="/rpz/web/article/22/comment/78">
  <h6 class="form-signin-heading">Texte</h6>
  <div style="margin-top: 10px;">
    <label class="sr-only required" for="form_text">Lâche ton commentaire</label>
    <textarea id="form_text" name="form[text]" required="required" class="form-control" placeholder="Texte"></textarea>
  </div>

  <div style="margin-top: 10px;">
    <button type="submit" id="form_save" name="form[save]" class="btn btn-primary ">Publier</button>
  </div>
</form>
