@font-face {
    font-family: "Antro_Vectra";
    src: url('fonts/Antro_Vectra.otf');
}
@font-face {
    font-family: "HaloHandletter";
    src: url('fonts/HaloHandletter.otf');
}
@font-face {
    font-family: "NellaSue";
    src: url('fonts/NellaSue.ttf');
}
@font-face {
    font-family: "Notera";
    src: url('fonts/Notera.ttf');
}
@font-face {
    font-family: "Run_Wild";
    src: url('fonts/Run_Wild.ttf');
}
@font-face {
    font-family: "Calibri";
    src: url('fonts/Calibri.ttf');
}
@font-face {
    font-family: "Candara";
    src: url('fonts/Candara.ttf');
}
@font-face {
    font-family: "Avenir-Book";
    src: url('fonts/Avenir-Book.ttf');
}
@font-face {
    font-family: "Avenir-Light";
    src: url('fonts/Avenir-Light.ttf');
}
body, button, input, optgroup, select, textarea {
  font-family: "Avenir-Light";
}

#front-page {
  height: 100vh;
  width: 100%;
  display: inline-flex;
  background-color: #BA0020 ;
  /* background-color: rgb(154, 61, 96); */
}
#home-page {
  height: 100vh;
  width: 100%;
}
#title {
  margin: auto;
}
h1.special-font {
  color: #BA0020 ;/*rgb(215, 116, 154);*/
  white-space: nowrap;
  text-align: center;
  font-size: 6rem;
}
#front-page h1 {
  color: white;
  font-size: 10rem;
}
#explore-page, #history-page, #home-page {
  overflow: hidden;
  padding-bottom: 30px;
  min-height: 100vh;
}

h2 {
  text-align: center;
  color: #BA0020 ;
  font-weight: lighter;
  position: relative;
  bottom: 2.5rem;
  left: 0.3rem;
  font-size: 1.15rem;
}
h2.signature {
  color: white;
  bottom: 3.5rem;
  left: 0.5rem;
  transition:opacity 1s linear;
  font-size: 1.9rem;
}
h3 {
  font-size: 2.5rem;
}
.special-font {
  font-family: "HaloHandletter";
}
.special-font span {
  transition:opacity 1s linear;
}
.special-font1 {
  font-family: "Antro_Vectra";
}
.special-font2 {
  font-family: "HaloHandletter";
}
.special-font3 {
  font-family: "NellaSue";
}
.special-font4 {
  font-family: "Notera";
}
.special-font5 {
  font-family: "Run_Wild";
}
.fil, .hidden-fil, .sprinter  {
  position: relative;
  bottom: 0.9rem;
}
.fil-cadre {
  height: 5.5px;
  width: 1000px;
}
.fil-snake {
  height: inherit;
  visibility: hidden;
  background-color: white;
  -webkit-transform: translateX(0px);
  -webkit-transition: -webkit-transform 2s ease;
  -moz-transform: translateX(0px);
  -moz-transition: -webkit-transform 2s ease;
  transform: translateX(0px);
  transition: -webkit-transform 2s ease;
  position: relative;
}
a.sober_link:hover {
  text-decoration: none;
}
#scroll {
  position: absolute;
  font-weight: lighter;
  top: calc(100vh - 80px);
  left: calc(50% - 20px);
  display: none;
}
#scroll a {
  color: white;
}

nav.top-navbar {
  margin-top: -50px;
}
#navbar ul {
  width: 100%;
  text-align: center;
}
#navbar li {
  width: 20%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: lighter;
}
#navbar li:first-of-type {
  margin-left: 20%;
}
#fb-icon {
  text-align: center;
  position: fixed;
  width: 50px;
  height: 50px;
  color: #3B5B98;
  border: 2px #3B5B98 solid;
  border-radius: 25px;
  bottom: 20px;
  right: 20px;
  padding-top: 7px;
}
.large-icon {
  margin-top: 30px;
}
.large-icon-left {
  margin-left: 140px;
  margin-right: 40px;
}
.large-icon-right {
  margin-left: 40px;
  margin-right: 140px;
}
.large-icon h3 {
  font-size: 2.5em;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.large-icon img {
  width: 100%;
  border-radius: 10px;
}
.large-icon a:hover img {
  transform: scale(1.05); -webkit-transform: scale(1.05); -o-transform: scale(1.05); -moz-transform: scale(1.05);
  border: 1px #777777 solid;
}
.large-icon a img {
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.icon-container {
    display: inline-block;
    position: relative;
    width: 100%;
}
.icon-dummy {
    margin-top: 100%;
}
.icon-element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.large-icon .thumbnail {
    position: relative;
}
.large-icon .thumbnail img {
  border: 1px #CCCCCC solid;
}
.large-icon .caption {
    position: absolute;
    top: 56%;
    left: 0;
    width: 100%;
}
/* EXPLORE */

.list-gender h5 {
  width: 100%;
}
.list-gender li {
  padding: 0;
  border: none;
  padding-bottom: 5px;
  padding-left: 13px;
}
.color-choice {
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 15px;
  float: left;
  margin-right: 15px;
}
.double-large-icon img:hover {
  cursor: grab;
}
.over {
  position: absolute;
}
.under {
  position: absolute;
  top: 70px;
  left: 90px;
}
.carousel img {
  border-radius: 5px;
}
#carousel .carousel-item:hover {
  cursor: grab;
}
#carousel .carousel-item:focus {
  cursor: grabbing;
}
.carousel-control-prev {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.2)),to(rgba(0,0,0,.0001)));
  background-image: linear-gradient(to right,rgba(0,0,0,.2) 0,rgba(0,0,0,.0001) 100%);
}
.carousel-control-next {
  background-image: -webkit-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%);
  background-image: -o-linear-gradient(left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%);
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.2)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.2) 100%);
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);

  border-radius: 10px;
}
.carousel-indicators li {
  background-color: rgba(0,0,0,0.3);
  margin-right: 10px;
  max-width: 10px;
}
.carousel-indicators .active {
  background-color: #000;
}
.carousel-icons {
  margin-top: 10px;
}
.carousel-icons img:hover {
  cursor: pointer;
}
.carousel-icons .col {
  padding-left: 5px;
  padding-right: 5px;
}
.carousel-icons .col:first-of-type {
  padding-left: 0;
}
.carousel-icons .col:last-of-type {
  padding-right: 0;
}

.edit-img {
  position: absolute;
  left: calc(50% - 13px);
  top: calc(50% - 13px);
  background-color: rgba(255,255,255,0.8);
  padding-left: 6px;
  padding-right: 4px;
  padding-top: 2px;
  border-radius: 13px;
}
.edit-img:hover {
  background-color: rgba(255,255,255,0.9);
}
