{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}
<div id="front-page">
  <div style="width: 0">
    <div class="fil-cadre" style="position: relative; top: calc(50vh - 6px);">
      <div class="fil-snake">
      </div>
    </div>
  </div>
  <div id="title" style="background-color: #BA0020; z-index: 10;">
    <h1 class="special-font">
      {%
        set letters = ['l','e','f','i','l','r','o','u','g','e'] %}{%
        for letter in letters %}<span style="opacity: 0;" class="hidden">{{ letter }}</span>{% endfor %}
    </h1>
    <h2 class="signature" style="opacity: 0;">Aliénor Dubé</h2>
  </div>
  <div id="scroll">
    <a href="#"><i class="fa fa-angle-down fa-3x" aria-hidden="true"></i></a>
  </div>
</div>

{{ render(controller('LFRStoreBundle:Home:home')) }}
{% endblock %}
{% block script %}
<script> document.getElementById('fb-icon').style.visibility='hidden'; </script>
<script>
var explorer = false;
var chrome = false;
var firefox = false;
var safari = false;
var mobile = false;
if (navigator.userAgent.search("MSIE") >= 0) {
    explorer = true;
}
else if (navigator.userAgent.search("Chrome") >= 0) {
    chrome = true;
}
else if (navigator.userAgent.search("Firefox") >= 0) {
    firefox = true;
}
else if (navigator.userAgent.search("Safari") >= 0 && navigator.userAgent.search("Chrome") < 0) {
    safari = true;
} else if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    mobile = true;
}
// Block animation in some cases
if(explorer || mobile) {
  var src = '/bundles/LFR/animation/'+(mobile ? 'phone' : 'original')+'_noloop.gif'
  $('#front-page').html('<div id="gif_cadre"><img id="gif_animation" src="'+src+'" /></div>')
  setTimeout(function(){
    $('#front-page div').fadeOut();
    $('#front-page').slideUp(1000);
  }, 5000);
} else { // Else do animation
  // Special settings for safari
  if(safari){
    $('#title h1 span:last-of-type').remove();
    $('#title h1 span:last-of-type').html('ge');
    $('h2.signature').css('left', '0.8rem');
  }
  $(document).ready(function(){
    var scrolled = false;
    $('#scroll').fadeIn();
    $('#scroll a').on('click', function(e){
      e.preventDefault();
      scrolled = true;
      $('html,body').animate({
          scrollTop: $("#home-page").offset().top
      },'slow');
    })
    setTimeout(function(){
      var title_size = $('#title h1').width();
      var window_size = $('body').width();
      var title_coord_x = 1.2*(window_size-title_size)/2;
      $('.fil-snake').css('width', title_coord_x+'px');
      $('.fil-snake').css('right', title_coord_x+'px');
      $('.fil-snake').css('visibility', 'visible');
      $('.fil-snake').css('transform', 'translateX('+title_coord_x+'px)');
      setTimeout(next_show, 1000);
    }, 500);


    var title_size = $('#title h1').width();
    var window_size = $('body').width();
    title_coord_x = 1.2*(window_size-title_size)/2;
    console.log('coorg'+title_coord_x);

    console.log(title_size);
    console.log(window_size);
    var decalage = (title_size-window_size)/2;
    console.log(decalage);
    if(title_size > window_size){
        $('#title').css('position', 'relative');
        $('#title').css('right', decalage+'px');
    }
    var next_show = function(){
      var letter = $(".special-font span.hidden:first");
      letter.removeClass('hidden');
      letter.css('opacity', '1');
      if(letter.length > 0){
        setTimeout(next_show, 160);
      } else {
        setTimeout(function(){
          signature = $('.signature');
          signature.css('opacity', '1');
          setTimeout(function(){
            if(!scrolled){
              $('html,body').animate({
                  scrollTop: $("#home-page").offset().top
              },'slow');
            }
            $('#front-page').slideUp(1000);
          }, 1500);
        }, 800);
      }
    };
  });
}
</script>
{% endblock %}
