
<!DOCTYPE HTML>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="">
    <title>Le Fil Rouge </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" href="global_style.css">
  </head>
  <body>
    <div id="front-page">
      <div id="title" style="background-color: #BA0020; z-index: 10;">
        <h1 class="special-font">
          lefilrouge
        </h1>
        <h2 class="signature">Aliénor Dubé</h2>
        <h2 class="signature"><br /><br />
          16 novembre 2017
        </h1>
      </div>
    </div>
  </body>
</html>
