{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}
  <h3>{{ collection.title }}</h3>
  <p>{{ collection.description }}</p>
  <img src="{{ asset('uploads/img/' ~ collection.image) }}" class="img-thumbnail" width="300">
{% endblock %}
{% block script %}
{% endblock %}
