<ul id="notify" class="list-group" style="margin-bottom: 10px;">
  <li class="list-group-item collapse-toggle justify-content-between">
    <h5 style="margin-bottom: 0px;">
      Filtre
    </h5>
  </li>
  <div id="menu_lateral" class="collapse show">
      <li class="list-group-item justify-content-between">
        <h5 style="width: 100%;">Homme</h5>
        <ul class="list-group list-gender">
          <li class="list-group-item justify-content-between">
            <a href="#" class=""><input id="checkBox" type="checkbox"> Veste</a>
          </li>
          <li class="list-group-item justify-content-between">
            <a href="#" class=""><input id="checkBox" type="checkbox"> Chemise</a>
          </li>
          <li class="list-group-item justify-content-between">
            <a href="#" class=""><input id="checkBox" type="checkbox"> Cravatte</a>
          </li>
        </ul>
      </li>
      <li class="list-group-item justify-content-between">
        <h5 style="width: 100%;">Femme</h5>
        <ul class="list-group list-gender">
          <li class="list-group-item justify-content-between">
            <a href="#" class=""><input id="checkBox" type="checkbox"> Veste</a>
          </li>
          <li class="list-group-item justify-content-between">
            <a href="#" class=""><input id="checkBox" type="checkbox"> Robe</a>
          </li>
          <li class="list-group-item justify-content-between">
            <a href="#" class=""><input id="checkBox" type="checkbox"> Juppe</a>
          </li>
        </ul>
      </li>
    </div>
</ul>
