{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}

<div id="explore-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {{ include(navbar, {'active': 'collection'}) }}
  <div class="container">
    <div class="row">
      <div class="col-sm-1">

      </div>
      <div class="col-sm-6">
        {% set carousel = "LFRStoreBundle:Search:carousel.html.twig" %}
        {{ include(carousel, {'url': ''}) }}
        <!--
        <div style="width: 100%;">
          <div class="img-thumbnail">
            <img src="{{ asset('bundles/LFR/img/icons/6.png') }}" alt="" style="width:100%; margin-bottom: -28px;">
            <div class="caption">
              <h4 style="text-align: center; color: white;">J'adior</h4>
            </div>
            </a>
          </div>
        </div>
        -->
      </div>
      <div class="col-sm-4">
        <h3>Description</h3>
        <p>Quelques heures avant que Maria Grazia Chiuri dévoile sa collection de prêt-à-porter
         automne-hiver 2017-2018. Le décor qui fait écho à toutes les nuances de bleus
         des silhouettes, a été peint de couleur monochrome à l'aide de pinceaux.</p>
         <ul id="notify" class="list-group" style="margin-bottom: 10px;">
           <li class="list-group-item collapse-toggle justify-content-between">
             <h5 style="margin-bottom: 0px;">
               Modèles
             </h5>
           </li>
           <div id="menu_lateral" class="collapse show">
               <li class="list-group-item justify-content-between">
                 <h5 style="width: 100%;">Coloris</h5>
                 <ul class="list-group list-gender">
                   <li class="list-group-item justify-content-between">
                     <a href="#" class=""><span class="color-choice" style="background-color: #AA1111;"></span>Rouge</a>
                   </li>
                   <li class="list-group-item justify-content-between">
                     <a href="#" class=""><span class="color-choice" style="background-color: #11AAAA;"></span>Vert</a>
                   </li>
                   <li class="list-group-item justify-content-between">
                     <a href="#" class=""><span class="color-choice" style="background-color: #1111AA;"></span>Cyan</a>
                   </li>
                 </ul>
               </li>
               <li class="list-group-item justify-content-between">
                 <h5 style="width: 100%;">Taille</h5>
                 <ul class="list-group list-gender">
                   <li class="list-group-item justify-content-between">
                     <a href="#" class="">34</a>
                   </li>
                   <li class="list-group-item justify-content-between">
                     <a href="#" class="">36</a>
                   </li>
                   <li class="list-group-item justify-content-between">
                     <a href="#" class="">38</a>
                   </li>
                   <li class="list-group-item justify-content-between">
                     <a href="#" class="">40</a>
                   </li>
                 </ul>
               </li>
             </div>
         </ul>
      </div>
    </div>
    <div class="row">
      <div class="offset-sm-3 col-sm-6" style="margin-top: 15px;">
        <h3>La main dans le sac</h3>
        <p>Gros plan sur les accessoires de la saison. Les escarpins et les bottes mariées aux
        robes ou au denim de toutes les nuances de bleu mettent en relief l’allure chic et active
         de la femme Dior d’aujourd’hui. Avec des bagues parées de pierres colorées, des colliers
         pendants et des ras de cou iconiques, les bijoux de la collection se portent avec
         générosité, pour créer un ensemble à l’effet unique. Les sacs, délicats comme une
         minaudière brodée ou tendance comme un sac D-Fence avec lanière Oblique, sont un
         mélange de genres et d’inspirations. Et, pour parfaire chacun des looks, un béret,
          que le chapelier Stephen Jones qualifie de « t-shit des chapeaux. ».</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  //$("#carousel .carousel-item").zoom({ on:'grab' });
  $('#carousel img')
    .wrap('<span style="display:inline-block"></span>')
    .css('display', 'block')
    .parent()
    .zoom({ on:'grab' });
</script>
{% endblock %}
