{% extends "LFRStoreBundle::layout.html.twig" %}
{% block body %}

<div id="explore-page">
  {% set navbar = "LFRStoreBundle:Utils:nav.html.twig" %}
  {% set lateral_navbar = "LFRStoreBundle:Search:lateral.html.twig" %}
  {{ include(navbar, {'active': 'collection'}) }}
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        {{ include(lateral_navbar) }}
      </div>
      <div class="col-sm-9">
        {% set icon = "LFRStoreBundle:Search:icon.html.twig" %}
        {% for i in 1..8 %}
          {% set width = 150 + random(100) %}
          {% set top = random(300) %}
          {% set left = random(550) %}
          {{ include(icon, {'img_path' : asset('bundles/LFR/img/icons/' ~ i ~'.png'), 'width': width, 'top': top, 'left': left }) }}
        {% endfor %}

      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}

{% endblock %}
